/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, body {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400; }
  @media (max-width: 767px) {
    html, body {
      font-size: 16px;
      line-height: 22px; } }

h1, .h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 32px; } }

h2, .h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 600; }

h3, .h3 {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600; }
  @media (max-width: 767px) {
    h3, .h3 {
      font-size: 20px; } }

h4, .h4 {
  font-size: 22px;
  line-height: 26px; }

h5, .h5 {
  font-size: 16px;
  line-height: 26px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-black {
  color: rgba(0, 0, 0, 0.8); }

.text-light {
  color: rgba(0, 5, 43, 0.8); }

.text-dark {
  color: rgba(0, 4, 42, 0.8); }

.text-lighter {
  color: rgba(0, 4, 42, 0.6); }

.text-ultralight {
  color: rgba(0, 4, 42, 0.4); }

.text-blue {
  color: #4765EE; }

.text-bold, strong, b {
  font-weight: bold; }

.text-semibold {
  font-weight: 600; }

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  html *,
  body * {
    box-sizing: border-box;
    outline: none; }

.container {
  padding: 0 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 1720px; }
  @media (max-width: 1199px) {
    .container {
      padding: 0 40px; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 30px; } }

.text-container {
  max-width: 1100px; }

img {
  max-width: 100%; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.visible-xs {
  display: none; }
  @media (max-width: 767px) {
    .visible-xs {
      display: block; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (max-width: 767px) {
  .text-left-xs {
    text-align: left; } }

a, button {
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
  border: none;
  background: none; }

p + .btn,
.list + .btn {
  margin-top: 24px; }

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 60px;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 30px;
  border-radius: 12px;
  font-size: 20px;
  line-height: 1;
  background: #E5E5E9;
  color: #4765EE;
  transition: .2s; }
  @media (max-width: 767px) {
    .btn {
      font-size: 18px;
      height: 50px;
      width: 100%;
      -ms-flex-pack: center;
          justify-content: center; } }
  .btn--white {
    background: #fff; }
    .btn--white > img {
      margin-left: 20px; }
    .btn--white--bordered {
      border: 2px solid #E5E5E9; }
      .btn--white--bordered:hover {
        background: #f2f2f4; }
      .btn--white--bordered:focus {
        background: #edf0fc; }
    .btn--white:hover {
      background: rgba(229, 229, 233, 0.5); }
    .btn--white:focus {
      background: rgba(71, 101, 238, 0.1); }
  .btn--green {
    background: #65CA7B;
    color: #fff; }
    .btn--green:hover {
      background: #8acc8e; }
    .btn--green:focus {
      background: #72b376; }
  .btn--lightblue {
    background: #62BCF9;
    color: #fff; }
    .btn--lightblue:hover {
      background: #84c2f5; }
    .btn--lightblue:focus {
      background: #6ba8db; }
  .btn--blue {
    background: #4765EE;
    color: #fff; }
    .btn--blue:hover {
      background: #5d76e8; }
    .btn--blue:focus {
      background: #445dcf; }

.btn-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .btn-group > .btn {
    margin-right: 30px; }
    .btn-group > .btn:last-child {
      margin-right: 0; }
  @media (max-width: 767px) {
    .btn-group {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; }
      .btn-group > .btn {
        margin-bottom: 10px; }
        .btn-group > .btn:last-child {
          margin-bottom: 0; } }

.link-default {
  color: #4765EE;
  text-decoration: underline; }
  .link-default:hover {
    color: #5d76e8; }
  .link-default:focus {
    color: #445dcf; }
  .link-default--inverted {
    text-decoration: none; }
    .link-default--inverted:hover {
      text-decoration: underline; }

.link-more {
  color: rgba(0, 5, 43, 0.4);
  transition: .3s; }
  .link-more > img {
    margin-left: 19px; }
  .link-more:hover {
    opacity: 0.8; }

.tabs__nav {
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .tabs__nav {
      padding-left: 30px;
      margin-bottom: -8px; } }

.tabs__btn {
  padding: 0 0 13px;
  margin-right: 60px;
  color: rgba(0, 5, 43, 0.4);
  font-weight: 600;
  transition: .2s;
  position: relative; }
  @media (max-width: 767px) {
    .tabs__btn {
      margin-right: 40px; } }
  .tabs__btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 48px;
    height: 4px;
    background: #4765EE;
    border-radius: 100px;
    opacity: 0;
    visibility: hidden;
    transition: .2s; }
  .tabs__btn.is-active {
    color: #00052b; }
    .tabs__btn.is-active:after {
      opacity: 1;
      visibility: visible; }
  .tabs__btn:last-child {
    margin-right: 0; }
  .tabs__btn:hover {
    color: #00052b; }

.tabs__content {
  margin-top: 68px; }
  @media (max-width: 767px) {
    .tabs__content {
      margin-top: 27px;
      padding: 0 30px; } }
  .tabs__content p {
    margin-left: 60px; }
    @media (max-width: 1720px) {
      .tabs__content p {
        margin-left: 40px; } }
    @media (max-width: 767px) {
      .tabs__content p {
        margin-left: 0; } }

.tabs__pane {
  display: none; }
  .tabs__pane.is-active {
    display: block; }

.list li {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 14px;
  position: relative;
  padding-left: 40px; }
  @media (max-width: 767px) {
    .list li {
      font-size: 16px;
      line-height: 22px; } }
  .list li:before {
    content: '';
    position: absolute;
    left: 16px;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00042A;
    opacity: 0.2; }

.chart {
  max-width: 700px; }
  .chart__line {
    width: 100%;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 40px;
    font-weight: 600; }
    .chart__line:nth-child(1) {
      max-width: 470px;
      background: linear-gradient(90deg, #62BCF9 0%, rgba(98, 188, 249, 0.5) 100%); }
      @media (max-width: 767px) {
        .chart__line:nth-child(1) {
          max-width: 60%; } }
    .chart__line:nth-child(2) {
      max-width: 687px;
      background: linear-gradient(90deg, #4D95F0 0%, rgba(77, 149, 240, 0.5) 100%); }
      @media (max-width: 767px) {
        .chart__line:nth-child(2) {
          max-width: 100%; } }
    .chart__line:nth-child(3) {
      max-width: 326px;
      background: linear-gradient(90deg, #4765EE 0%, rgba(71, 101, 238, 0.5) 100%); }
      @media (max-width: 767px) {
        .chart__line:nth-child(3) {
          max-width: 45%; } }
    .chart__line:nth-child(4) {
      max-width: 225px;
      margin-bottom: 0;
      background: linear-gradient(90deg, #4340DD 0%, rgba(67, 64, 221, 0.5) 100%); }
      @media (max-width: 767px) {
        .chart__line:nth-child(4) {
          max-width: 35%; } }
    @media (max-width: 767px) {
      .chart__line {
        height: 28px;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 0 20px; } }

.card-person {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 4, 42, 0.1);
  border-radius: 24px;
  padding: 40px 50px 60px;
  max-width: 380px;
  text-align: center; }
  @media (max-width: 767px) {
    .card-person {
      padding: 10%;
      border-radius: 15px; } }
  .card-person .p-img {
    margin-bottom: 16px; }
    @media (max-width: 767px) {
      .card-person .p-img {
        max-width: 50% !important;
        margin-bottom: 10px; } }
  .card-person .h4 {
    margin-bottom: 2px; }
    @media (max-width: 767px) {
      .card-person .h4 {
        font-size: 12px;
        line-height: 16px; } }
  .card-person .p-job {
    color: #00042A;
    opacity: 0.4;
    margin-bottom: 24px;
    margin-top: 2px; }
    @media (max-width: 767px) {
      .card-person .p-job {
        font-size: 8px;
        margin-bottom: 12px;
        line-height: 1; } }

.feedbacks-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-left: 120px;
  margin-top: 50px; }
  @media (max-width: 1720px) {
    .feedbacks-nav {
      margin-left: 180px; } }
  @media (max-width: 1199px) {
    .feedbacks-nav {
      margin-left: 120px; } }
  @media (max-width: 767px) {
    .feedbacks-nav {
      margin-left: 0;
      -ms-flex-pack: center;
          justify-content: center;
      margin-top: 40px; } }
  .feedbacks-nav button {
    width: 62px;
    height: 4px;
    background: rgba(0, 4, 42, 0.1);
    margin-right: 10px;
    border-radius: 100px;
    transition: .3s; }
    .feedbacks-nav button:last-child {
      margin-right: 0; }
    .feedbacks-nav button.tns-nav-active {
      background: #4765EE; }

@media (max-width: 1720px) {
  .feedback {
    padding-left: 60px; } }

@media (max-width: 1199px) {
  .feedback {
    padding-left: 0; } }

.feedback__quoute {
  max-width: 1100px;
  padding-left: 120px;
  position: relative;
  color: rgba(0, 4, 41, 0.8);
  line-height: 36px; }
  @media (max-width: 1720px) {
    .feedback__quoute {
      max-width: 900px; } }
  @media (max-width: 767px) {
    .feedback__quoute {
      padding-left: 0;
      font-size: 24px;
      line-height: 1;
      text-align: center;
      padding-top: 80px; } }
  .feedback__quoute:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 63px;
    height: 50px;
    background: url("../img/quoutes.svg");
    background-repeat: no-repeat;
    background-position: top center; }
    @media (max-width: 767px) {
      .feedback__quoute:before {
        left: 50%;
        transform: translateX(-50%); } }

.feedback__person {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 40px;
  margin-left: 120px; }
  @media (max-width: 767px) {
    .feedback__person {
      margin-left: 0;
      -ms-flex-direction: column;
          flex-direction: column;
      text-align: center; } }
  .feedback__person img {
    width: 62px;
    height: 62px;
    margin-right: 28px; }
    @media (max-width: 767px) {
      .feedback__person img {
        margin-right: 0;
        margin-bottom: 18px; } }
  .feedback__person h4 {
    margin-bottom: 2px; }

@media (max-width: 1199px) {
  .section--faq .container {
    padding: 0; } }

.faq {
  margin: 50px 0; }
  @media (max-width: 767px) {
    .faq {
      margin: 0 0 20px; } }
  .faq__question {
    min-height: 100px;
    font-size: 24px;
    line-height: 26px;
    color: #4765EE;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-left: 117px;
    position: relative;
    width: 100%;
    transition: .3s;
    text-align: left; }
    @media (max-width: 767px) {
      .faq__question {
        font-size: 18px;
        line-height: 26px;
        min-height: 0;
        padding: 25px 25px 25px 75px; } }
    .faq__question:before, .faq__question:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: center;
      transition: .3s; }
      @media (max-width: 767px) {
        .faq__question:before, .faq__question:after {
          left: 40px;
          top: 28px;
          transform: none; } }
    .faq__question:before {
      background-image: url("../img/plus.svg"); }
    .faq__question:after {
      background-image: url("../img/minus.svg");
      opacity: 0; }
    .faq__question:hover {
      color: #5d76e8; }
  .faq__answer {
    display: none;
    padding-left: 117px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 5, 43, 0.6); }
    @media (max-width: 1199px) {
      .faq__answer {
        padding-right: 40px; } }
    @media (max-width: 767px) {
      .faq__answer {
        font-size: 16px;
        line-height: 20px;
        padding-left: 75px; } }
  .faq__item {
    border-bottom: 1px solid rgba(0, 4, 42, 0.07); }
    @media (max-width: 1199px) {
      .faq__item {
        margin: 0 -40px; } }
    @media (max-width: 767px) {
      .faq__item {
        margin: 0 -35px; } }
    .faq__item:last-child {
      border: none; }
    .faq__item.is-active .faq__question {
      color: #000429; }
      .faq__item.is-active .faq__question:before {
        opacity: 0; }
      .faq__item.is-active .faq__question:after {
        opacity: 1; }
    .faq__item.is-active .faq__answer {
      display: block; }

@media (max-width: 1720px) {
  .section--compare {
    padding: 0 120px; } }

@media (max-width: 1365px) {
  .section--compare {
    padding: 0 60px; } }

@media (max-width: 1199px) {
  .section--compare {
    padding: 0; } }

@media (max-width: 991px) {
  .section--compare .container {
    padding: 0; }
    .section--compare .container > h1 {
      padding: 0 30px; } }

@media (max-width: 767px) {
  .section--compare {
    margin-bottom: 0 !important; } }

.compare {
  margin-top: 50px; }
  @media (max-width: 991px) {
    .compare {
      margin-top: 30px; } }
  .compare__title {
    font-size: 24px;
    line-height: 26px;
    color: rgba(0, 4, 41, 0.8);
    font-weight: 600;
    margin: 0 30px;
    padding: 35px 0; }
    @media (max-width: 1720px) {
      .compare__title {
        margin: 0 15px; } }
    @media (max-width: 991px) {
      .compare__title {
        margin: 0 30px 0 0;
        padding: 25px 0; } }
    @media (max-width: 767px) {
      .compare__title {
        font-size: 18px; } }
  .compare__text {
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 5, 43, 0.6);
    margin: 0 30px;
    padding: 35px 0; }
    @media (max-width: 1720px) {
      .compare__text {
        margin: 0 15px; } }
    @media (max-width: 991px) {
      .compare__text {
        padding: 25px 0; } }
    @media (max-width: 767px) {
      .compare__text {
        font-size: 16px;
        line-height: 22px; } }
  .compare__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: stretch;
        align-items: stretch;
    border-top: 1px solid rgba(0, 4, 42, 0.1); }
    @media (max-width: 991px) {
      .compare__row {
        padding: 0 30px; } }
    .compare__row > * {
      -ms-flex: 1;
          flex: 1; }
      .compare__row > *:first-child {
        max-width: 240px;
        text-align: right;
        margin-left: 0; }
        @media (max-width: 1720px) {
          .compare__row > *:first-child {
            max-width: 140px;
            margin-right: 35px; } }
    @media (max-width: 991px) {
      .compare__row:not(.compare__row--tabs) > *:nth-child(2) ~ * {
        display: none; } }
    @media (max-width: 767px) {
      .compare__row:not(.compare__row--tabs) {
        -ms-flex-direction: column;
            flex-direction: column; }
        .compare__row:not(.compare__row--tabs) > * {
          max-width: none;
          margin: 0;
          text-align: left; }
        .compare__row:not(.compare__row--tabs) .compare__title {
          padding-bottom: 0;
          padding-top: 25px;
          white-space: nowrap; }
          .compare__row:not(.compare__row--tabs) .compare__title > br {
            display: none; }
        .compare__row:not(.compare__row--tabs) .compare__text {
          padding-top: 10px; } }
    @media (max-width: 991px) {
      .compare__row--tabs {
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none; }
        .compare__row--tabs::-webkit-scrollbar {
          display: none; }
        .compare__row--tabs > *:first-child {
          display: none; }
        .compare__row--tabs .compare__title {
          cursor: pointer;
          width: auto;
          -ms-flex: auto;
              flex: auto;
          color: rgba(0, 4, 41, 0.4); }
          .compare__row--tabs .compare__title.is-active {
            color: rgba(0, 4, 41, 0.8); } }
    @media (max-width: 767px) {
      .compare__row--tabs .compare__title {
        padding: 0 30px 0 0 !important;
        margin: 0 0 25px 0; } }
    @media (max-width: 767px) {
      .compare__row--buttons > *:first-child {
        display: none; } }
    .compare__row:last-child, .compare__row:first-child {
      border: 0; }
    .compare__row:first-child .highlighted {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px; }
    .compare__row:first-child .compare__title,
    .compare__row:first-child .compare__text {
      padding-top: 40px; }
    .compare__row:last-child .highlighted {
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px; }
    .compare__row:last-child .compare__title,
    .compare__row:last-child .compare__text {
      padding-top: 0;
      padding-bottom: 40px; }
  .compare .highlighted {
    background: #EFF8FE;
    padding-right: 75px;
    padding-left: 80px; }
    @media (max-width: 1720px) {
      .compare .highlighted {
        padding-left: 40px;
        padding-right: 40px; } }
    @media (max-width: 991px) {
      .compare .highlighted {
        background: none;
        padding-left: 0;
        padding-right: 0; } }
  .compare .btn {
    display: block;
    width: 100%; }
    @media (max-width: 991px) {
      .compare .btn {
        background: #65CA7B;
        border: none;
        color: #fff; }
        .compare .btn:hover {
          background: #8acc8e; }
        .compare .btn:focus {
          background: #72b376; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 1000;
  display: none;
  overflow-y: auto; }
  .modal.is-active {
    display: -ms-flexbox;
    display: flex; }
  @media (max-width: 1199px) {
    .modal {
      -ms-flex-align: start;
          align-items: flex-start; } }
  .modal__content {
    background: #FFFFFF;
    border-radius: 24px;
    max-width: 1060px;
    overflow: hidden;
    padding: 100px 115px 60px;
    position: relative; }
    @media (max-width: 1199px) {
      .modal__content {
        padding: 60px;
        margin: 60px; } }
    @media (max-width: 767px) {
      .modal__content {
        padding: 30px;
        margin: 30px;
        border-radius: 12px; } }
  .modal__close {
    position: absolute;
    right: 40px;
    top: 40px;
    padding: 0; }
    @media (max-width: 767px) {
      .modal__close {
        right: 10px;
        top: 10px; } }

.request {
  margin-top: 40px;
  margin-bottom: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: stretch;
      justify-content: stretch;
  -ms-flex-align: end;
      align-items: flex-end; }
  .request > * {
    -ms-flex: 1;
        flex: 1; }
    @media (max-width: 991px) {
      .request > * {
        -ms-flex: auto;
            flex: auto; } }
  @media (max-width: 991px) {
    .request {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; } }
  @media (max-width: 767px) {
    .request {
      margin-bottom: 30px; } }
  .request__msg {
    max-width: 400px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 5, 43, 0.8);
    font-weight: 600; }
    @media (max-width: 991px) {
      .request__msg {
        max-width: 100%;
        width: 100%; }
        .request__msg .text-light {
          padding-left: 20px; } }
    .request__msg textarea {
      height: 150px;
      width: 100%;
      border: 2px solid #E5E6EA;
      border-radius: 12px;
      background: transparent;
      padding: 10px 20px;
      color: rgba(0, 5, 43, 0.8);
      font-weight: 600;
      margin-top: 12px;
      resize: none;
      transition: .2s;
      font-family: "Open Sans"; }
      .request__msg textarea:focus {
        border: 2px solid rgba(0, 4, 42, 0.6); }
  .request__contacts {
    max-width: 340px;
    margin-right: 60px; }
    @media (max-width: 991px) {
      .request__contacts {
        width: 340px;
        margin-right: 0;
        margin-bottom: 35px; } }
    @media (max-width: 767px) {
      .request__contacts {
        width: 100%; } }
  .request__control {
    display: block;
    width: 100%;
    height: 54px;
    border: none;
    border-bottom: 2px solid rgba(0, 4, 42, 0.1);
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 5, 43, 0.8);
    font-weight: 600;
    padding: 0 20px;
    transition: .3s; }
    .request__control:first-child {
      margin-top: 0; }
    .request__control:-moz-placeholder {
      color: rgba(0, 5, 43, 0.8);
      font-weight: 600; }
    .request__control::-moz-placeholder {
      color: rgba(0, 5, 43, 0.8);
      font-weight: 600; }
    .request__control:-ms-input-placeholder {
      color: rgba(0, 5, 43, 0.8);
      font-weight: 600; }
    .request__control::-webkit-input-placeholder {
      color: rgba(0, 5, 43, 0.8);
      font-weight: 600; }
    .request__control:focus {
      border-bottom: 2px solid rgba(0, 4, 42, 0.6); }

@media (max-width: 1199px) {
  .header .container {
    padding-right: 0; } }

@media (max-width: 767px) {
  .header .container {
    padding-left: 0; } }

.header__wrapper {
  position: relative;
  padding: 60px 0 120px;
  min-height: 700px;
  background-image: url("../img/qms-cover@2x.jpg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 1720px) {
    .header__wrapper {
      background-image: url("../img/qms-cover-laptop@2x.jpg"); } }
  @media (max-width: 1199px) {
    .header__wrapper {
      background-position: calc(100% + 350px) bottom;
      background-size: cover; } }
  @media (max-width: 767px) {
    .header__wrapper {
      background: none;
      padding-top: 0;
      min-height: 0;
      padding-bottom: 0;
      border-bottom: 1px solid rgba(0, 4, 42, 0.07);
      padding-bottom: 40px; } }

.header__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 26px; }
  @media (max-width: 767px) {
    .header__nav {
      border-bottom: 1px solid rgba(0, 4, 42, 0.07);
      margin-bottom: 15px;
      padding-left: 30px;
      -ms-flex-align: center;
          align-items: center;
      padding-top: 24px;
      padding-bottom: 24px; } }

.header__btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto; }
  @media (max-width: 767px) {
    .header__btn {
      background: none !important;
      height: auto; } }

.header .btn-group {
  margin-top: 58px; }
  @media (max-width: 767px) {
    .header .btn-group {
      margin-top: 24px; }
      .header .btn-group > .btn {
        width: 100%;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 1720px) {
  .header {
    padding-left: 60px; } }

@media (max-width: 1365px) {
  .header {
    padding-left: 0; } }

.section {
  margin-bottom: 120px; }
  @media (max-width: 1199px) {
    .section {
      margin-bottom: 50px; } }
  .section--blue {
    background: rgba(98, 188, 249, 0.1);
    border-radius: 24px;
    padding: 120px; }
    @media (max-width: 1365px) {
      .section--blue {
        padding: 60px; } }
    @media (max-width: 1199px) {
      .section--blue {
        border-radius: 0; } }
    @media (max-width: 991px) {
      .section--blue {
        padding: 40px; } }
    @media (max-width: 767px) {
      .section--blue {
        padding: 40px 30px;
        margin-bottom: 0; } }
  .section--narrowed {
    max-width: 1280px; }
    .section--narrowed > .text-container {
      max-width: 720px; }
      @media (max-width: 1199px) {
        .section--narrowed > .text-container {
          max-width: 100%; } }
    @media (max-width: 1720px) {
      .section--narrowed {
        max-width: 1030px; } }
    @media (max-width: 1199px) {
      .section--narrowed {
        max-width: 100%; } }

.whatis {
  min-height: 730px;
  background-image: url("../img/laptop.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  color: #66687F;
  padding-top: 120px;
  margin-bottom: 30px; }
  @media (max-width: 1800px) {
    .whatis {
      background-position: -150px; } }
  @media (max-width: 1500px) {
    .whatis {
      background-position: -235px; } }
  @media (max-width: 1365px) {
    .whatis {
      background-position: -300px; } }
  @media (max-width: 1199px) {
    .whatis {
      background-position: bottom;
      background-size: 165%;
      padding-bottom: 100%; } }
  @media (max-width: 767px) {
    .whatis {
      padding-top: 40px;
      background: none;
      padding-bottom: 0;
      margin-bottom: 50px;
      min-height: 0; } }
  .whatis__content {
    margin-left: 50%;
    padding-left: 10px; }
    @media (max-width: 1199px) {
      .whatis__content {
        margin-left: 0; } }
    @media (max-width: 991px) {
      .whatis__content {
        padding-left: 0; } }
    .whatis__content .h1 {
      margin-bottom: 14px; }
    .whatis__content p {
      margin-bottom: 26px; }
    @media (max-width: 767px) {
      .whatis__content .list {
        margin-top: 24px; } }

@media (max-width: 1199px) {
  .section--control .container {
    padding: 0; } }

@media (max-width: 767px) {
  .section--control {
    margin-bottom: 0; } }

.control {
  margin-bottom: 300px;
  position: relative; }
  @media (max-width: 1650px) {
    .control {
      margin-bottom: 200px; } }
  @media (max-width: 1199px) {
    .control {
      margin-bottom: 250px; }
      .control .section--blue {
        padding-bottom: 500px; } }
  @media (max-width: 767px) {
    .control {
      margin-bottom: 0; }
      .control .section--blue {
        padding-bottom: 40px; } }
  .control .card-chart {
    position: absolute;
    right: 0;
    bottom: -80px;
    z-index: 1; }
    @media (max-width: 1650px) {
      .control .card-chart {
        right: 60px;
        bottom: -40px; } }
    @media (max-width: 1430px) {
      .control .card-chart {
        right: 0; } }
    @media (max-width: 1365px) {
      .control .card-chart {
        right: -30px; } }
    @media (max-width: 1199px) {
      .control .card-chart {
        right: calc(50% - 40px);
        transform: translateX(50%);
        bottom: -100px; }
        .control .card-chart img {
          max-width: none; } }
  .control .card-person {
    position: absolute;
    right: 320px;
    bottom: -170px;
    z-index: 2; }
    @media (max-width: 1650px) {
      .control .card-person {
        right: 380px;
        bottom: -100px; } }
    @media (max-width: 1430px) {
      .control .card-person {
        right: 320px; } }
    @media (max-width: 1365px) {
      .control .card-person {
        right: 260px; } }
    @media (max-width: 1249px) {
      .control .card-person {
        right: 200px; } }
    @media (max-width: 1199px) {
      .control .card-person {
        right: calc(50% + 120px);
        transform: translateX(50%);
        bottom: -190px; }
        .control .card-person img {
          max-width: none; } }
  @media (max-width: 1650px) {
    .control h1 {
      max-width: 670px; } }
  @media (max-width: 1199px) {
    .control h1 {
      max-width: 100%; } }
  @media (max-width: 1650px) {
    .control .list {
      max-width: 400px; } }
  @media (max-width: 1199px) {
    .control .list {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .control__cards {
      position: relative;
      margin-bottom: 90px; }
      .control__cards .card-chart {
        position: static;
        transform: translateX(15px); }
        .control__cards .card-chart img {
          width: 100%; }
      .control__cards .card-person {
        width: 65%;
        transform: none;
        right: auto;
        bottom: -50px;
        left: 0; }
        .control__cards .card-person img {
          width: 100%; } }

@media (max-width: 1199px) {
  .section--kep .container {
    padding: 0; } }

.kep {
  background-image: url("../img/kep-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (max-width: 1720px) {
    .kep {
      padding-left: 60px;
      background-image: url("../img/kep-bg-laptop.jpg"); } }
  @media (max-width: 1365px) {
    .kep {
      padding-left: 0; } }
  @media (max-width: 1199px) {
    .kep {
      background-image: url("../img/kep-bg-mobile.jpg");
      background-size: cover; } }
  @media (max-width: 767px) {
    .kep {
      background: none; } }
  .kep__content {
    min-height: 790px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (max-width: 1199px) {
      .kep__content {
        min-height: 0;
        padding: 60px 40px; } }
    @media (max-width: 767px) {
      .kep__content {
        padding: 40px 30px 0; } }
    .kep__content p {
      padding-left: 60px;
      margin-bottom: 60px; }
      @media (max-width: 1720px) {
        .kep__content p {
          padding-left: 40px; } }
      @media (max-width: 767px) {
        .kep__content p {
          padding-left: 0;
          margin-bottom: 30px; }
          .kep__content p br {
            display: none; } }
    @media (max-width: 767px) {
      .kep__content .chart {
        background-image: url("../img/kep-bg-mobile.jpg");
        background-size: cover;
        background-position: bottom;
        margin: 0 -40px;
        padding: 130px 40px 30px; } }

@media (max-width: 1199px) {
  .section--contact .container {
    padding: 0; } }

@media (max-width: 767px) {
  .section--contact .container {
    padding: 0 30px; } }

.contact {
  position: relative; }
  .contact .text-lighter {
    margin-bottom: 12px; }
  @media (max-width: 1720px) {
    .contact h1 {
      max-width: 400px; } }
  .contact .text-container {
    padding-left: 40px; }
    @media (max-width: 1720px) {
      .contact .text-container {
        max-width: 440px;
        padding-left: 30px; } }
    @media (max-width: 1199px) {
      .contact .text-container {
        max-width: 70%; } }
    @media (max-width: 767px) {
      .contact .text-container {
        max-width: 100%;
        padding: 0; } }
  .contact .card-email {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-45%); }
    .contact .card-email__icon {
      position: absolute;
      top: -50px;
      left: -50px; }
      @media (max-width: 767px) {
        .contact .card-email__icon {
          top: 0;
          left: 50%;
          transform: translate(-50%, -35%);
          width: 100px; } }
    @media (max-width: 1720px) {
      .contact .card-email {
        max-width: 600px;
        right: 120px; } }
    @media (max-width: 1430px) {
      .contact .card-email {
        right: 60px; } }
    @media (max-width: 1365px) {
      .contact .card-email {
        right: 0; } }
    @media (max-width: 1199px) {
      .contact .card-email {
        right: auto;
        left: 70%; }
        .contact .card-email img {
          max-width: none; } }
    @media (max-width: 767px) {
      .contact .card-email {
        position: relative;
        transform: none;
        left: 0;
        max-width: calc(100% + 30px);
        margin: 40px -15px 0; }
        .contact .card-email img {
          max-width: 100%; } }
  @media (max-width: 1199px) {
    .contact .section--blue {
      background: transparent; } }
  @media (max-width: 767px) {
    .contact .section--blue {
      padding: 0; } }

@media (max-width: 1720px) {
  .section--benefits {
    padding: 0 120px; } }

@media (max-width: 1365px) {
  .section--benefits {
    padding: 0 60px; } }

@media (max-width: 1199px) {
  .section--benefits {
    padding: 0; } }

.benefits {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 991px) {
    .benefits {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .benefits .benefit {
    max-width: 470px;
    margin-top: 50px; }
    @media (max-width: 1720px) {
      .benefits .benefit {
        max-width: 350px; } }
    @media (max-width: 1199px) {
      .benefits .benefit {
        padding: 0 15px; }
        .benefits .benefit:first-child {
          padding-left: 0; }
        .benefits .benefit:last-child {
          padding-right: 0; } }
    @media (max-width: 991px) {
      .benefits .benefit {
        max-width: 100%;
        padding: 0; } }
    @media (max-width: 767px) {
      .benefits .benefit {
        margin-top: 30px; }
        .benefits .benefit:first-child {
          margin-top: 0; } }
    .benefits .benefit__icon {
      margin-bottom: 60px; }
      @media (max-width: 991px) {
        .benefits .benefit__icon {
          margin-bottom: 30px; } }
      @media (max-width: 767px) {
        .benefits .benefit__icon {
          margin-bottom: 25px; } }
    .benefits .benefit h3, .benefits .benefit .h3 {
      margin-bottom: 18px;
      line-height: 1.2; }
      @media (max-width: 1720px) {
        .benefits .benefit h3, .benefits .benefit .h3 {
          max-width: 250px; } }
      @media (max-width: 991px) {
        .benefits .benefit h3, .benefits .benefit .h3 {
          max-width: 100%; } }
      @media (max-width: 767px) {
        .benefits .benefit h3, .benefits .benefit .h3 {
          margin-bottom: 8px; } }

@media (max-width: 1199px) {
  .section--logos .container {
    padding: 0; } }

.logos {
  padding: 40px 120px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .logos > img {
    margin: 20px; }
  @media (max-width: 1499px) {
    .logos {
      padding: 40px 60px; } }
  @media (max-width: 1365px) {
    .logos {
      padding: 40px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center; }
      .logos > img {
        margin: 20px 100px; } }
  @media (max-width: 991px) {
    .logos > img {
      margin: 20px 0;
      width: 50%; } }
  @media (max-width: 767px) {
    .logos > img {
      width: 65%;
      margin: 0; } }

@media (max-width: 1720px) {
  .news {
    padding: 0 120px; } }

@media (max-width: 1365px) {
  .news {
    padding: 0 60px; } }

@media (max-width: 1199px) {
  .news {
    padding: 0; } }

@media (max-width: 767px) {
  .news {
    margin-bottom: 25px; } }

.news__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 70px; }
  @media (max-width: 1199px) {
    .news__header {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .news__header {
      margin-bottom: 0; } }
  .news__header h1 {
    margin-bottom: 0; }

.news__item {
  margin-top: 30px;
  -ms-flex: 1;
      flex: 1; }
  @media (max-width: 1720px) {
    .news__item {
      max-width: 300px; } }
  @media (max-width: 1199px) {
    .news__item {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .news__item {
      max-width: none;
      width: calc(100% + 60px);
      padding: 0 30px 25px;
      margin: 25px -30px 0;
      border-bottom: 1px solid rgba(0, 4, 42, 0.07); } }

.news__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 1199px) {
    .news__list {
      -ms-flex-direction: column;
          flex-direction: column; } }

@media (max-width: 1199px) {
  .section--test .container {
    padding: 0; } }

@media (max-width: 767px) {
  .section--test .visible-xs {
    width: 100%; } }

.test {
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media (max-width: 1720px) {
    .test {
      background-image: url("../img/contact-laptop.jpg"); } }
  @media (max-width: 1199px) {
    .test {
      background-position: center; } }
  @media (max-width: 767px) {
    .test {
      background: none; } }
  .test__logo {
    position: absolute;
    top: 100px;
    left: 125px;
    mix-blend-mode: luminosity; }
    @media (max-width: 1199px) {
      .test__logo {
        top: 60px;
        left: 80px; } }
  .test__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    height: 687px;
    max-width: 550px;
    margin: 0 200px 0 auto; }
    @media (max-width: 1720px) {
      .test__container {
        margin: 0 120px 0 auto;
        max-width: 490px; } }
    @media (max-width: 1199px) {
      .test__container {
        max-width: 450px;
        margin: 0 40px 0 auto; } }
    @media (max-width: 991px) {
      .test__container {
        max-width: 360px;
        margin: 0 40px 0 auto; } }
    @media (max-width: 767px) {
      .test__container {
        margin: 0;
        max-width: 100%;
        height: auto;
        padding: 40px 30px;
        border-bottom: 1px solid rgba(0, 4, 42, 0.07); } }
    .test__container h1 {
      color: #fff; }
      @media (max-width: 767px) {
        .test__container h1 {
          color: rgba(0, 4, 42, 0.8); } }
    .test__container p {
      color: rgba(255, 255, 255, 0.6); }
      @media (max-width: 767px) {
        .test__container p {
          color: rgba(0, 4, 42, 0.6); } }
  .test__form {
    margin-top: 50px; }
    @media (max-width: 991px) {
      .test__form .btn {
        width: 100%;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media (max-width: 767px) {
      .test__form {
        margin-top: 30px; } }
    .test__form input {
      display: block;
      width: 100%;
      height: 60px;
      border-radius: 12px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      box-shadow: 0px 20px 30px rgba(68, 88, 114, 0.1);
      background: transparent;
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 20px;
      padding: 0 30px;
      color: #fff; }
      .test__form input:-moz-placeholder {
        color: #fff; }
      .test__form input::-moz-placeholder {
        color: #fff; }
      .test__form input:-ms-input-placeholder {
        color: #fff; }
      .test__form input::-webkit-input-placeholder {
        color: #fff; }
      @media (max-width: 767px) {
        .test__form input {
          border: 2px solid rgba(0, 4, 42, 0.2);
          height: 50px;
          color: rgba(0, 4, 42, 0.6);
          font-size: 18px;
          line-height: 1; }
          .test__form input:-moz-placeholder {
            color: rgba(0, 4, 42, 0.6); }
          .test__form input::-moz-placeholder {
            color: rgba(0, 4, 42, 0.6); }
          .test__form input:-ms-input-placeholder {
            color: rgba(0, 4, 42, 0.6); }
          .test__form input::-webkit-input-placeholder {
            color: rgba(0, 4, 42, 0.6); }
          .test__form input:focus {
            border-color: rgba(98, 188, 249, 0.5); } }

.footer {
  font-size: 14px;
  line-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-bottom: 110px; }
  @media (max-width: 1720px) {
    .footer {
      padding-left: 120px; } }
  @media (max-width: 1365px) {
    .footer {
      padding-left: 60px; } }
  @media (max-width: 1199px) {
    .footer {
      padding-left: 0;
      padding-bottom: 50px; } }
  .footer > * {
    margin-right: 60px; }
    .footer > *:last-child {
      margin-right: 0; }
  @media (max-width: 767px) {
    .footer {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      padding-bottom: 30px; }
      .footer > * {
        margin-right: 0; }
        .footer > *:first-child {
          width: 100%; } }
