.footer {
  font-size: 14px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  padding-bottom: 110px;
  @media (max-width: 1720px) {
    padding-left: 120px;
  }
  @media (max-width: 1365px) {
    padding-left: 60px;
  }
  @media (max-width: 1199px) {
    padding-left: 0;
    padding-bottom: 50px;
  }
  & > * {
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    & > * {
      margin-right: 0;
      &:first-child {
        width: 100%;
      }
    }
  }
}