html, body {
  font-family: 'Open Sans', ;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 22px;
  }
}

h1, .h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 24px;
  @media (max-width: 767px) {
    font-size: 32px;
  }
}

h2, .h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
  @media (max-width: 767px) {

  }
}

h3, .h3 {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 22px;
  line-height: 26px;
  @media (max-width: 767px) {

  }
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Colors
.text-black          { color: rgba(#000 ,.8); }
.text-light          { color: rgba(#00052B, .8); }
.text-dark           { color: rgba(#00042A, .8); }
.text-lighter        { color: rgba(#00042A, .6); }
.text-ultralight        { color: rgba(#00042A, .4); }
.text-blue           { color: $c-blue; }

// Weight
.text-bold, strong, b   { font-weight: bold; }
.text-semibold          { font-weight: 600; }