.section--faq {
  .container {
    @media (max-width: 1199px) {
      padding: 0;
    }
  }
}

.faq {
  margin: 50px 0;
  
  &__question {
    min-height: 100px;
    font-size: 24px;
    line-height: 26px;
    color: $c-blue;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 117px;
    position: relative;
    width: 100%;
    transition: .3s;
    text-align: left;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: center;
      transition: .3s;
    }
    &:before {
      background-image: url('../img/plus.svg');
    }
    &:after {
      background-image: url('../img/minus.svg');
      opacity: 0;
    }
    &:hover {
      color: #5d76e8;
    }
  }

  &__answer {
    display: none;
    padding-left: 117px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(#00052B ,.6);
    @media (max-width: 1199px) {
      padding-right: 40px;
    }
  }

  &__item {
    border-bottom: 1px solid rgba(#00042A, .07);
    @media (max-width: 1199px) {
      margin: 0 -40px;
    }
    &:last-child {
      border: none;
    }
    &.is-active {
      .faq__question {
        color: #000429;
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      .faq__answer {
        display: block;
      }
    }
  }

}