.list {
  li {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 14px;
    position: relative;
    padding-left: 40px;
    &:before {
      content: '';
      position: absolute;
      left: 16px;
      top: 10px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #00042A;
      opacity: 0.2;
    }
  }
}